apiVersion: 1
datasources:
- name: Prometheus
  type: prometheus
  url: http://prometheus:9090
  isDefault: true
  access: proxy
  editable: true

- name: Loki
  type: loki
  url: http://loki:3100
  isDefault: false
  access: proxy
  editable: true

- name: Elasticsearch-logging
  type: elasticsearch
  access: proxy
  database: 'logs'
  basicAuth: true
  basicAuthUser: $ELASTIC_GRAFANA_USERNAME
  secureJsonData:
    basicAuthPassword: $ELASTIC_GRAFANA_PASSWORD
  url: $ELASTIC_GRAFANA_HOST:$ELASTIC_GRAFANA_PORT
  jsonData:
    timeField: 'timestamp'
    esVersion: '8.0.0'

- name: Elasticsearch-filebeat
  type: elasticsearch
  access: proxy
  database: 'filebeat*'
  basicAuth: true
  basicAuthUser: $ELASTIC_GRAFANA_USERNAME
  secureJsonData:
    basicAuthPassword: $ELASTIC_GRAFANA_PASSWORD
  url: $ELASTIC_GRAFANA_HOST:$ELASTIC_GRAFANA_PORT
  jsonData:
    timeField: '@timestamp'
    logMessageField: message
    logLevelField: stream
    esVersion: '8.0.0'

- name: Coproduction
  type: postgres
  url: $POSTGRES_HOST:$POSTGRES_PORT
  database: coproduction_production
  user: $POSTGRES_USERNAME
  secureJsonData:
    password: $POSTGRES_PASSWORD
  jsonData:
    sslmode: 'disable' # disable/require/verify-ca/verify-full
    maxOpenConns: 0
    maxIdleConns: 2
    connMaxLifetime: 14400
    postgresVersion: 1200 # 903=9.3, 904=9.4, 905=9.5, 906=9.6, 1000=10
    timescaledb: false

- name: Catalogue
  type: postgres
  url: $POSTGRES_HOST:$POSTGRES_PORT
  database: catalogue_production
  user: $POSTGRES_USERNAME
  secureJsonData:
    password: $POSTGRES_PASSWORD
  jsonData:
    sslmode: 'disable' # disable/require/verify-ca/verify-full
    maxOpenConns: 0
    maxIdleConns: 2
    connMaxLifetime: 14400
    postgresVersion: 1200 # 903=9.3, 904=9.4, 905=9.5, 906=9.6, 1000=10
    timescaledb: false

- name: MySQL
  type: mysql
  url: $MYSQL_HOST_MONITORING:$MYSQL_PORT_MONITORING
  database: $MYSQL_DATABASE_MONITORING
  user: $MYSQL_USERNAME_MONITORING
  secureJsonData:
    password: $MYSQL_PASSWORD_MONITORING
  jsonData:
    tlsSkipVerify: true

- name: Dremio
  type: digital-hub-dremio
  jsonData:
    url: http://$DREMIO_HOST:$DREMIO_PORT
    user: $DREMIO_USERNAME
    password: $DREMIO_PASSWORD
